@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;800&family=Space+Mono:wght@400;700&display=swap");

$strong-cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$grayish-cyan: hsl(184, 14%, 56%);
$dark-grayish-cyan: hsl(186, 14%, 43%);
$light-grayish-cyan: hsl(185, 41%, 84%);
$extra-light-grayish-cyan: hsl(189, 41%, 97%);
$white-color: hsl(0, 0%, 100%);

$font-stack: "Space Mono", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stack;
}

body {
  font-family: $font-stack;
}

main.container {
  width: 100%;
  height: 100%;
  background-color: $light-grayish-cyan;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    height: 100vh;
  }

  .logo {
    width: 5.2rem;
    padding: 2rem 0 2rem 0;

    @media screen and (min-width: 1200px) {
      padding: 0 0 6rem 0;
      width: 5.4rem;
    }
  }
}

.card-container {
  background: $white-color;
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 2rem;

  @media screen and (min-width: 1200px) {
    width: 900px;
    border-radius: 1rem;
  }
}

.form-container {
  height: 100%;

  .inputsContainer {
    @media screen and (min-width: 1200px) {
      width: 50%;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .label {
    color: $dark-grayish-cyan;
    font-weight: 700;
    margin: 0.4rem 0;
  }
}

.selectField {
  margin-bottom: 30px;
}

.selectsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tipInput {
    border: none;
    background: $extra-light-grayish-cyan;
    color: $dark-cyan;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
}

.result-container {
  background: $dark-cyan;
  border-radius: 14px;
  padding: 1.8rem 1.5rem 1.5rem 1.5rem;

  @media screen and (min-width: 1200px) {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
  }

  input[type="submit"] {
    background: $strong-cyan;
    color: $dark-cyan;
    border: none;
    width: 100%;
    padding: 0.7rem;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
      background: $light-grayish-cyan;
    }
  }
}

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:focus {
    outline: none;
    border: 2px solid $strong-cyan;
  }
}

input[type="number"].activeError {
  border: 2px solid #b47c6d;
}
